<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Compasso: Errore Attrezzatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" fullscreen>

  <ion-item color="danger">
    <ion-label>Attrezzatura con id: {{id}} non trovata</ion-label>
  </ion-item>

  <ion-button color="tertiary" size="default" routerLink='/attrezzature'>
    <ion-icon name="notifications"></ion-icon>
    Attrezzature
  </ion-button>
  <ion-button color="tertiary" size="default" routerLink='/home'>
    <ion-icon name="home"></ion-icon>
    Home
  </ion-button>

</ion-content>
