<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Compasso: Attrezzature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" fullscreen>

  <ion-button color="tertiary" size="default" routerLink='../home'>
    <ion-icon name="home"></ion-icon>Home
  </ion-button>

  <ion-searchbar
      placeholder="Cerca Attrezzatura"
      showcancelbutton=""
    (ionInput)="filterList($event)"
  ></ion-searchbar>

  <ion-list style="background: var(--ion-color-primary);">

    <ion-item color="primary" *ngFor="let attrezzatura of attrezzature">
      
      <div slot="">
        <p><ion-icon [name]="getIcon(attrezzatura)"></ion-icon>&nbsp;<i>{{attrezzatura.stato}}</i></p>
      </div>

      <div slot="">
        <p>&nbsp;{{attrezzatura.modello}} - <b>{{attrezzatura.identificativo}}</b></p>
      </div>

      <div slot="end">
        <ion-button color="tertiary" size="small" routerLink='/operazione-create/{{attrezzatura.identificativo}}'>
          <ion-icon name="navigate-outline"></ion-icon>
          Gestisci
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ion-button color="tertiary" size="default" routerLink='../home'>
    <ion-icon name="home"></ion-icon>Home
  </ion-button>

</ion-content>