<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Compasso - Lista Attrezzature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" fullscreen>

  <ion-list style="background: var(--ion-color-primary);">

    <ion-item color="primary" *ngFor="let todo of attrData">
      <ion-icon [name]="getIcon(todo)" slot="start">

      </ion-icon>
      
      <div slot="">
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{todo.identificativo}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
      </div>

      <div slot="">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{todo.modello}}&nbsp;&nbsp;&nbsp;&nbsp;</h3>
      </div>

      <div slot="">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>{{todo.stato}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
      </div>

      <div slot="">
        <ion-button color="tertiary" size="default" routerLink='/operazione-create/{{todo.identificativo}}'>
          <ion-icon name="navigate-outline"></ion-icon>
          Carica al Cantiere
        </ion-button>
            </div>
    </ion-item>
  </ion-list>

  <ion-button color="tertiary" size="default" routerLink='../home'>
    <ion-icon name="home"></ion-icon>Home
  </ion-button>

</ion-content>