<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>
      Compasso - Gestione Attrezzature
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" fullscreen>

  <ion-button color="tertiary" size="default" routerLink='/attrezzature'>
    <ion-icon name="notifications"></ion-icon>
    Attrezzature
  </ion-button>
  <ion-button color="tertiary" size="default" routerLink='/config'>
    <ion-icon name="settings-outline"></ion-icon>
    Configura
  </ion-button>
  <ion-button color="tertiary" size="default" routerLink='/about'>
    <ion-icon name="menu"></ion-icon>
    About
  </ion-button>
</ion-content>